{% extends "base_generic.html" %}

{% block content %}
    {% if validlink %}
    <p>Будь ласко введіть (та підтвердіть) свій новий пароль</p>
    <form action="" method="post">
        {% csrf_token %}
    <table>
        <tr>
            <td>{{ form.new_password1.errors }}
                <label for="id_new_password1">Новий пароль</label></td>
            <td>{{ form.new_password1 }}</td>
        </tr>
        <tr>
            <td>{{ form.new_password2.errors }}
                 <label for="id_new_password2">Підтвердіть новий пароль</label></td>
            <td>{{ form.new_password2 }}</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Змінити пароль"/></td>
        </tr>
    </table>
    </form>
    {% else %}
    <h1>Помидка при зміні паролю!!!</h1>
    <p>Посилання на скидання паролю була недійснаб можливо тому що вона вже використовувалась.
    Будь ласко запитайте нове скидання паролю</p>
    {% endif %}
{% endblock %}